<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="../static/css/search.css">
</head>
<body>
    <button  @click="register">生徒新規登録</button>
    <h1>検索</h1>
    <select id="search_category">
        <option value="all" selected>すべて</option>
        <option value="id">ID</option>
        <option value="name">姓名<option value="id">ID</option></option>
        <option value="kana_name">姓名(カタカナ)</option>
        <option value="birthdate">生年月日</option>
        <option value="gender">性別</option>
        <option value="email">メールアドレス</option>
        <option value="phone">電話番号</option>
        <option value="postal_code">郵便番号</option>
        <option value="address">住所</option>
        <option value="class">クラス</option>
        <option value="completed">修了</option>
        <option value="course_name">コース名</option>
        <option value="classroom">教室</option>
    </select>
    <input type="text" id="search_term" placeholder="Search...">
    <button onclick="search()">Search</button>
    <div id="results"></div>
    <script>
        let test = {{url_for}}
    </script>
    <script src="../static/js/search.js"></script>
</body>
</html>

