<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="../static/css/search.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <span>{{ username }}</span>
            <button @click="logout">ログアウト</button>
        </header>
        <section>
            <div class="container">
                <button @click="register" >生徒新規登録</button>
                <h1>検索</h1>
                <select id="search_category">
                    <option value="all" selected>すべて</option>
                    <option value="id">ID</option>
                    <option value="last_name">姓</option>
                    <option value="first_name">名</option>
                    <option value="last_name_katakana">姓(カタカナ)</option>
                    <option value="first_name_katakana">名(カタカナ)</option>
                    <option value="birthday">生年月日</option>
                    <option value="gender">性別</option>
                    <option value="email">メールアドレス</option>
                    <option value="phone">電話番号</option>
                    <option value="mobile_phone">携帯電話番号</option>
                    <option value="postal_code">郵便番号</option>
                    <option value="address">住所</option>
                    <option value="class_id">クラス</option>
                    <option value="status">修了</option>
                </select>
                <input type="text" id="search_term" placeholder="Search...">
                <button @click="search">Search</button>
                <div id="results"></div>
            </div>
        </section>
    </div>
    <script src="../static/js/search.js"></script>
</body>
</html>

